h1 {
    text-align: center;
    color: black;
    font-family: Courier New;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
    font-family: Courier New;
}

a{
    font-family: Courier New;
    text-align: center;
    color: black;
}

body {
    background-color: black;
}

